<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cavavin</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- cavavin -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cavavin.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    {% set navigation_bar = [
        ('racks.list', 'Mes casiers'),
        ('wines.list', 'Mes vins')
    ] -%}

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cavavin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {% if g.user %}
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
          {% for id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif%}>
              <a href="{{url_for(id)}}">{{ caption|e }}</a>
            </li>
          {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{g.user}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ url_for('users.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a>
                </li>
              </ul>
            </li>

          </ul>
        </div><!-- /.navbar-collapse -->
        {% endif %}
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      {% for category in ['success', 'danger', 'warning', 'info'] %}
      {% with messages = get_flashed_messages(category_filter=[category]) %}
        {% if messages %}
          {% autoescape false %}
          <div class="alert alert-{{category}} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul class="list-unstyled">
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
            </ul>
          </div>
          {% endautoescape %}
        {% endif %}
      {% endwith %}
      {% endfor %}
    </div>

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
