{% extends "base.html" %}

{% block body %}

<h2>Nouveau casier</h2>

<form action="{{url_for('racks.add')}}" method="post">

  <div class="form-group {% if 'name' in errors %}has-error{% endif %}">
    <label for="name">Nom</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nom du casier" value="{{rack_data.name}}">
    {% if 'name' in errors %}
      <p class="help-block">{{errors['name']|join('<br/>')}}</p>
    {% endif %}
  </div>

  <div class="form-group {% if 'height' in errors %}has-error{% endif %}">
    <label for="name">Hauteur</label>
    <input type="text" class="form-control" id="height" name="height" placeholder="Hauteur (nombre entier)" value="{{rack_data.height}}">
    {% if 'height' in errors %}
      <p class="help-block">{{errors['height']|join('<br/>')}}</p>
    {% endif %}
  </div>

  <div class="form-group {% if 'width' in errors %}has-error{% endif %}">
    <label for="width">Largeur</label>
    <input type="text" class="form-control" id="width" name="width" placeholder="Largeur (nombre entier)" value="{{rack_data.width}}">
    {% if 'width' in errors %}
      <p class="help-block">{{errors['width']|join('<br/>')}}</p>
    {% endif %}
  </div>

  <a href="{{url_for('racks.list')}}" class="btn btn-default">Annuler</a>
  <button type="submit" class="btn btn-primary">Ajouter</button>

</form>

{% endblock %}
